div.panel.panel-default
  div.panel-heading(data-ng-click="isCollapsed = !isCollapsed")
    div.panel-title-lg Climate
  div( collapse='isCollapsed')
    // panel body
    div.panel-body
      div.row
        div.col-xs-6
          //- div.row
            // current temperature
          div.col-xs-9
            p(style="font-size:4em") {{ climate.currentTemp  | number : 1 }}°
          div.col-xs-3
            span( data-ng-style="{ color: climate.heaterOn  === 1 ? 'red':'black' }" ).glyphicon.glyphicon-fire
        div.col-xs-3
          div.row
            p(style="font-size:2em") {{ climate.setTemp  | number : 1}}°
          div.row
            p {{ climate.climateProgram }}
        div.col-xs-3
          div.btn-group-vertical
            button( data-ng-click="addTemp(INCTEMP)").btn.btn-default.btn-lg
              span.glyphicon.glyphicon-plus
            button( data-ng-click="addTemp(-INCTEMP)").btn.btn-default.btn-lg
              span.glyphicon.glyphicon-minus
      div.row
        div.col-xs-12
          div.btn-group.btn-group-justified.top-buffer
            div.btn-group
              button.btn.btn-warning.btn-lg 
                i.fa.fa-sun-o               
            div.btn-group
              button.btn.btn-info.btn-lg
                i.fa.fa-moon-o
            div.btn-group
              button.btn.btn-default.btn-lg
                i.fa.fa-wrench

    div.panel-footer Volgend programma: "Weg" om 20:05