div.panel.panel-default
  div.panel-heading(data-ng-click="isCollapsed = !isCollapsed") 
    div.panel-title-lg Lights first floor
    //- button.btn.btn-default.btn-xs(data-toggle="modal",data-target="#switch-settings-modal")
    //-   span.glyphicon.glyphicon-wrench
    //- button.btn.btn-default.btn-xs()
    //-   span.glyphicon.glyphicon-chevron-up
  div( collapse='isCollapsed')
    // panel body
    div.panel-body
        div( data-ng-repeat="aSwitch in switches | filter:{devType:'light', devFloor:'first'}: true")
            div.row.panel-row     
                div.col-xs-4.panel-element
                    h4 {{ aSwitch.devName }}     
                div.col-xs-6.panel-element
                    div.btn-group.btn-group-stretch
                        // off button
                        label(data-ng-change="switchClicked(aSwitch)", data-ng-model="aSwitch.devState", data-ng-class="{1:'btn-default',0:'btn-info'}[aSwitch.devState]", btn-radio="0" ).btn.btn-lg.btn-50 {{ aSwitch.devState == 0 ? 'Off' : '&nbsp;' }}
                        // on button
                        label(data-ng-change="switchClicked(aSwitch)", data-ng-model="aSwitch.devState", data-ng-class="{1:'btn-success',0:'btn-default'}[aSwitch.devState]", btn-radio="1" ).btn.btn-lg.btn-50 {{ aSwitch.devState == 1 ? 'On' : '&nbsp;' }}
                div.col-xs-2.panel-element    
                    div.led( data-ng-class="{1:'led-green',0:'led-grey'}[aSwitch.devState]")
    div.panel-footer
        small Gang uit om 18:05
div.panel.panel-default
  div.panel-heading(data-ng-click="isCollapsed = !isCollapsed") 
    div.panel-title-lg Lights upstairs
    //- button.btn.btn-default.btn-xs(data-toggle="modal",data-target="#switch-settings-modal")
    //-   span.glyphicon.glyphicon-wrench
    //- button.btn.btn-default.btn-xs()
    //-   span.glyphicon.glyphicon-chevron-up
  div( collapse='isCollapsed')
    // panel body
    div.panel-body
        div( data-ng-repeat="aSwitch in switches | filter:{devType:'light', devFloor:'loft'}: true")
            div.row.panel-row     
                div.col-xs-4.panel-element
                    h4 {{ aSwitch.devName }}     
                div.col-xs-6.panel-element
                    div.btn-group.btn-group-stretch
                        // off button
                        label(data-ng-change="switchClicked(aSwitch)", data-ng-model="aSwitch.devState", data-ng-class="{1:'btn-default',0:'btn-info'}[aSwitch.devState]", btn-radio="0" ).btn.btn-lg.btn-50 {{ aSwitch.devState == 0 ? 'Off' : '&nbsp;' }}
                        // on button
                        label(data-ng-change="switchClicked(aSwitch)", data-ng-model="aSwitch.devState", data-ng-class="{1:'btn-success',0:'btn-default'}[aSwitch.devState]", btn-radio="1" ).btn.btn-lg.btn-50 {{ aSwitch.devState == 1 ? 'On' : '&nbsp;' }}
                div.col-xs-2.panel-element    
                    div.led( data-ng-class="{1:'led-green',0:'led-grey'}[aSwitch.devState]")
    div.panel-footer
        small Gang uit om 18:05
div.panel.panel-default
  div.panel-heading(data-ng-click="isCollapsed = !isCollapsed") 
    div.panel-title-lg Appliances
    //- button.btn.btn-default.btn-xs(data-toggle="modal",data-target="#switch-settings-modal")
    //-   span.glyphicon.glyphicon-wrench
    //- button.btn.btn-default.btn-xs()
    //-   span.glyphicon.glyphicon-chevron-up
  div( collapse='isCollapsed')
    // panel body
    div.panel-body
        div( data-ng-repeat="aSwitch in switches | filter:{devType:'appliance'}: true")
            div.row.panel-row     
                div.col-xs-4.panel-element
                    h4 {{ aSwitch.devName }}     
                div.col-xs-6.panel-element
                    div.btn-group.btn-group-stretch
                        // off button
                        label(data-ng-change="switchClicked(aSwitch)", data-ng-model="aSwitch.devState", data-ng-class="{1:'btn-default',0:'btn-info'}[aSwitch.devState]", btn-radio="0" ).btn.btn-lg.btn-50 {{ aSwitch.devState == 0 ? 'Off' : '&nbsp;' }}
                        // on button
                        label(data-ng-change="switchClicked(aSwitch)", data-ng-model="aSwitch.devState", data-ng-class="{1:'btn-success',0:'btn-default'}[aSwitch.devState]", btn-radio="1" ).btn.btn-lg.btn-50 {{ aSwitch.devState == 1 ? 'On' : '&nbsp;' }}
                div.col-xs-2.panel-element    
                    div.led( data-ng-class="{1:'led-green',0:'led-grey'}[aSwitch.devState]")
    div.panel-footer
        small Gang uit om 18:05

      //-   div.col-xs-4.panel-element
      //-     h4 Gang  
      //-   div.col-xs-6.panel-element
      //-     div.btn-group.btn-group-stretch
      //-       // off button
      //-       label(data-ng-change="switchClicked(light.hallway.light)", data-ng-model="light.hallway.light.state", data-ng-class="{1:'btn-default',0:'btn-info'}[light.hallway.light.state]", btn-radio="0").btn.btn-lg.btn-50 {{ light.hallway.light.state == 0 ? 'Off' : '&nbsp;' }}
      //-       // on button
      //-       label(data-ng-change="switchClicked(light.hallway.light)", data-ng-model="light.hallway.light.state", data-ng-class="{1:'btn-success',0:'btn-default'}[light.hallway.light.state]", btn-radio="1").btn.btn-lg.btn-50 {{ light.hallway.light.state == 1 ? 'On' : '&nbsp;' }}
      //-   div.col-xs-2.panel-element    
      //-     div.led( data-ng-class="{1:'led-green',0:'led-grey'}[light.hallway.light.state]")
      //- div.row.panel-row
      //-   div.col-xs-4.panel-element
      //-     h4 Keuken     
      //-   div.col-xs-6.panel-element
      //-     div.btn-group.btn-group-stretch
      //-       // off button
      //-       label(data-ng-change="switchClicked(light.kitchen.light)", data-ng-model="light.kitchen.light.state", data-ng-class="{1:'btn-default',0:'btn-info'}[light.kitchen.light.state]", btn-radio="0").btn.btn-lg.btn-50 {{ light.kitchen.light.state == 0 ? 'Off' : '&nbsp;' }}
      //-       // on button
      //-       label(data-ng-change="switchClicked(light.kitchen.light)", data-ng-model="light.kitchen.light.state", data-ng-class="{1:'btn-success',0:'btn-default'}[light.kitchen.light.state]", btn-radio="1").btn.btn-lg.btn-50 {{ light.kitchen.light.state == 1 ? 'On' : '&nbsp;' }}  
      //-   div.col-xs-2.panel-element    
      //-     div.led( data-ng-class="{1:'led-green',0:'led-grey'}[light.kitchen.light.state]")
    //-   div.col-xs-9
    //-     div.row
    //-       div.col-xs-6
    //-         h4 Gang
    //-       div.col-xs-6(style="margin-bottom:5px;")
    //-         input.bootstrap-switch(type="checkbox",data-on="success",data-off="info")
    //-     div.row
    //-       div.col-xs-6
    //-         h4 Keuken
    //-       div.col-xs-6(style="margin-bottom:5px;")
    //-         input.bootstrap-switch(type="checkbox",data-on="success",data-off="info")
    //-     div.row
    //-       div.col-xs-6
    //-         h4 Woonkamer
    //-       div.col-xs-4(style="margin-bottom:5px;")
    //-         input.bootstrap-switch(type="checkbox",data-on="success",data-off="info")
    //-     div.row
    //-       div.col-xs-6
    //-         h4 Studeerkamer
    //-       div.col-xs-4(style="margin-bottom:5px;")
    //-         input.bootstrap-switch(type="checkbox",data-on="success",data-off="info")
    //-   div.col-xs-3
    //-     div.led-green
    //-     div.btn-group-vertical
    //-         button.btn.btn-success.btn-md(style="width:50px;")                      
    //-           i.ionicons.ion-lightbulb
    //-         button.btn.btn-info.btn-md(style="width:50px;")
    //-           span.glyphicon.glyphicon-off
