doctype html
html( data-ng-app='app' ) 
  head
    meta( charset='utf8' )
    meta( name="viewport",content="width=device-width, initial-scale=1.0" )

    title HomeAutomation

    link( rel='stylesheet', href='/css/style.css')
    link( rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link( rel='stylesheet', href='/lib/ionicons/css/ionicons.min.css')
    link( rel='stylesheet', href='/css/font-awesome.min.css')
    // scripts angular
    script(type='text/javascript', src='lib/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='lib/angular/angular.min.js')
    script(type='text/javascript', src='lib/angular-ui-router/release/angular-ui-router.min.js')
    
    // scripts socket io
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src='lib/angular-socket-io/socket.min.js')

    // script bootstrap
    // script(type='text/javascript', src='lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='lib/angular-bootstrap/ui-bootstrap-tpls.min.js')


    // scripts js
    script(type='text/javascript', src='js/app.js')
    script(type='text/javascript', src='js/controllers/switchesCtrl.js')
    script(type='text/javascript', src='js/controllers/climateCtrl.js')
    script(type='text/javascript', src='js/controllers/alertsCtrl.js')
    script(type='text/javascript', src='js/services.js')

body
  div.container-fluid
    div.row
      div( data-ui-view="navbar")
    // ALERTS
    div.row
      div( data-ui-view="alerts")
    // MAIN CONTENT
    div.row
      div.col-xs-12.col-md-4.col-lg-3
        div( ui-view='switches-widget' )
      div.col-xs-12.col-md-4.col-lg-3
        div( ui-view='climate-widget' )


    // FOOTER
    div.row
      div.text-center
        p Home Automation - Bram Harmsen 2014